.formC,form,.box,.fields,.ckList,.fieldsErr,.BtnLst{
    display: flex;
    align-items: center;
    justify-content: center;
}
.fieldsErr{
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 10px;
    color: red;
}
.formC{
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow: hidden;
}
form{
    overflow: hidden;
    position: relative;
    flex-direction: column;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    box-shadow: 0px 5px 10px 0px rgba(0,0, 0, 0.5);
    padding: 10px;
    gap: 10px;
}

.Item{
    padding-top: 15px;
    width: 100%;
}

.data{
    position: relative;
}
.data > input{
    width: 100%;
    height: 30px;
    border-bottom: 1px solid black;
    outline: none;
    font-size: 30px;
}
.data > label{
    position: absolute;
    font-size: 30px;
    bottom: 0px;
    transition: 0.5s;
}
.data:has(label + input:placeholder-shown) label{
    color: black;
    bottom: 0px;
    font-size: 30px;
}
.data:has(label + :not(input:placeholder-shown)) label{
    color: green;
    bottom: 100%;
    font-size: 15px;
}
.box{
    width: 100%;
}
.fields{
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.fields > app-field{
    width: 100%;
}
.ckList{
    height: 100%;
    width: 20%;
}
.ckList > app-step-lst{
    width: 100%;
    height: 100%;
}
.BtnLst{
    width: 100%;
    height: 15%;
    padding: 10px;
    gap: 15px;
}
.BtnLst > app-btn-c{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    position: relative;
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}
.logo > app-logo-gen{
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
}