.mask{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    mask-size: cover;
    mask-position: center;
    mask-repeat: no-repeat;
}
.mask > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}