<div class="Container">
  <header>
    <nav>
      <ul>
        <li><a routerLinkActive="select" routerLink="/" 
          [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
        <li><a routerLinkActive="select" routerLink="/log" *ngIf="usr == null">Login</a>
            <p *ngIf="usr" (click)="logOut()">logout</p>
        </li>
        <li><a routerLinkActive="select" routerLink="/list">List</a></li>
      </ul>
    </nav>
    <div class="timerC">
      <div class="usrData" *ngIf="usr"><img src="/assets/icon/user_17740838.png">{{usr.name}}</div>
      <app-timer *ngIf="time" [milis]="time"></app-timer>
    </div>
  </header>
  <div class="Content">
    <router-outlet></router-outlet>
  </div>
  <ng-template #msgErr>
  </ng-template>
</div>