<div class="Container">
    <div class="sideTxt">
        <div class="mainContent">
            <p>www.example.com</p>
            <h2>jwt Test project</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Culpa quaerat asperiores, vitae sit, adipisci itaque ut nemo
                dolorum iusto quos et sapiente, officia sed recusandae dolor
                praesentium qui cupiditate officiis?</p>
        </div>
    </div>
    <div class="sideCard">
        <div class="bigCard">
            <div>text</div>
            <div>
                <div class="topCard">
                    <img src="/assets/icon/password_14562503.png"> 
                    <p>Main-Topics</p>
                </div>

                <div class="bottomCard">
                    <div class="cardItem">
                        <img src="/assets/icon/configuration.png">
                        <p>Lorem ipsum dolor, sit amet consectetur
                            adipisicing elit. Blanditiis</p>
                    </div>
                    <div class="cardItem">
                        <img src="/assets/icon/add.png">
                        <p>Lorem ipsum dolor, sit amet consectetur
                            adipisicing elit. Blanditiis</p>
                    </div>
                    <div class="cardItem">
                        <img src="/assets/icon/user_17740838.png">
                        <p>Lorem ipsum dolor, sit amet consectetur
                            adipisicing elit. Blanditiis</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>